.header_img > img{
    height: 40px;
}
.header{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:250px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.qHeader__input > input {
   
    background-color: transparent;
    outline: none;
    border: none;
    color: rgb(49, 49, 49);
  }
  .qHeader__input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    margin-left: 40px;
    
  }