.header{
  height : 20px;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.header img{
  height : 28px;
  object-fit: contain;
}
.App{
  background-color: rgb(241, 241, 241);
}